@import "../../styles/responsive.scss";
.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;

    gap: 10px;
    img {
      width: 30px;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      display: flex;
      gap: 10px;
      @include sm {
        display: none;
      }
    }
  }
}
